[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
firebase-admin = "*"
httpie = "*"
gcloud = "*"
oauth2client = "*"
sseclient = "*"
pycryptodome = "*"
requests-toolbelt = "*"
idna = "*"
pyjwt = "*"
python-jwt = "*"

[dev-packages]
setuptools = "*"

[requires]
python_version = "3.10"
